{% load static tailwind_tags django_htmx %}
<!DOCTYPE html>
<html lang="en" data-theme="bumblebee">
<head>
    <title>{% block title %}Django ATHM - ATH Movil Payment Integration{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% block meta_tags %}{% endblock %}

    <link rel="icon" type="image/png" href="{% static 'images/logo.png' %}">
    {% tailwind_css %}

    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    {% block extra_scripts %}{% endblock %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;600;700;800&display=swap" rel="stylesheet">

    {% block extra_css %}{% endblock %}

    <script async src="https://analytics.kuribosoft.com/js/pa-hiEVQxxH0x5AkmCUQHQlK.js"></script>
    <script>window.plausible=window.plausible||function(){(plausible.q=plausible.q||[]).push(arguments)},plausible.init=plausible.init||function(i){plausible.o=i||{}};plausible.init()</script>
</head>

<body hx-headers='{"x-csrftoken": "{{ csrf_token }}"}'>
    {% include 'partials/_header.html' %}

    {% block body %}
        {% block content %}{% endblock %}
    {% endblock %}

    {% block footer %}{% endblock %}

    {% include 'partials/_toasts.html' %}

    {% block extra_js %}{% endblock %}
</body>
</html>
